[type="button"] {
    font-size: 20px;
    padding: 10px 24px;
    border-radius: 25px;
    box-sizing: border-box;
    color: #4095c6;
    z-index: 2;
    background-color:rgb(30, 30, 30); /*#4095c6*/
    border-color: #4095c6;
    border-style: solid;
    text-align:center;
    position: fixed;
    bottom: 5vh;
    transform: translate(-50%, -50%);
    font-family: 'Kanit';
    outline: none;
    text-shadow: #000 1px 1px 10px;
    cursor: pointer;
}
[type="button"]:hover{
    background-color:#204c66;
}
[type="button"]:active{
    background-color:#153446;
}

h1 {
    position: fixed;
    font-size: 50px;
    color:#3583af;
    left:50vw;
    top: 5vh;
    transform: translate(-50%, -50%);
    font-family: 'Kanit';
    white-space: nowrap;
    text-shadow: #000 0px 0px 10px;
}

.btnSchedule {
    left: 25vw;
}
.btnReserve {
    left: 50vw;
}
.btnInfo {
    left: 75vw;
}

.modal {
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 1;
    left: 50vw;
    top: 80vh;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    text-align: center;
}
  
.modal-content {
    background-color: rgb(30, 30, 30);
    border-radius: 25px;
    border-color: #4095c6;
    border-style: solid;
    color: #4095c6;
    font-family: 'Kanit';
    margin: 15% auto;
    padding: 10px;
    width: 25%;
    height: 12%;
    text-shadow: #000 1px 1px 10px;
}

[id="scheduleModal"] {
    left: 25vw;
    top: 80vh;
}
[id="reserveModal"] {
    left: 50vw;
    top: 80vh;
}
[id="infoModal"] {
    left: 75vw;
    top: 80vh;
}

#animation {
    margin-top:8vh;
    margin-left: 17vw;
    padding-left: 10vw;
    box-sizing: border-box;
    
}

#minutes{
    animation: clockBar 1s  infinite linear;
    transform-box: fill-box;
    transform-origin: bottom left;
    
}

#hours{
    animation: clockBar 2s  infinite linear;
    transform-box: fill-box;

}

#bar4,#bar2{
    animation: bar 1s infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#bar5{
    animation: bar5 1.5s infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#bar1{
    animation: bar1 1s infinite alternate;
    transform-box: fill-box;
    transform-origin: bottom;
}

#bar3{
    animation: bar 1s infinite alternate-reverse;
    transform-box: fill-box;
    transform-origin: bottom;
}

#arm{
    animation: arm 1.5s infinite alternate-reverse;
    transform-box: fill-box;
    transform-origin: bottom;
}
#Vector_18{
    animation: animation2 10s ease infinite alternate;
}
#small_plant #Vector_47{
    animation: animation 10s ease infinite alternate;
}

#Vector_22{
    fill:mediumslateblue
}

@keyframes arm{
    from{
        transform:rotateZ(0deg) ;
    }
    to{
        transform: rotateZ(37deg);
    }
}


@keyframes animation {
    0%     {fill:#6FFF63;}
    33%  {fill:#37BE96;}
    66%  {fill:#637BE9;}
    100%  {fill:#0E52B8;}
}

@keyframes animation2 {
    0%     {fill:#692F56;}
    33%  {fill:#8D1EB5;}
    66%  {fill:#4E1EB5;}
    100%  {fill:#2A66C0;}
}

@keyframes clockBar{
    from {
        transform: rotateZ(0deg);
    
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes bar{
    from{
        transform: scaleY(1)
    }
    to{
        transform: scaleY(1.5)
    }
}

@keyframes bar5{
    from{
        transform: scaleY(1)
    }
    to{
        transform: scaleY(0.4)
    }
}

@keyframes bar1{
    from{
        transform: scaleY(1)
    }
    to{
        transform: scaleY(3)
    }
}